/* -----------------------------Form Elements----------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
	font-size: 18px;
	padding: 10px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 12px;
	width: 80%;
	box-sizing: border-box;
	transition: border-color 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
	border-color: #ff5a5f;
	outline: none;
}
input[type="radio"] {
	accent-color: #ff5a5f;
	width: 18px;
	height: 18px;
	margin-right: 8px;
	vertical-align: middle;
}
input[type="submit"],
button {
	background-color: #ff5a5f;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 12px 28px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	margin-top: 10px;
	transition: background 0.2s, box-shadow 0.2s;
	box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}
input[type="submit"]:hover,
button:hover {
	background-color: #e14c50;
}
/*
* Junghoo Kim
* Emmanuel Oluloto
* CS 284
*
*
*/
/* /css/main.css */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:#484848;
	overflow-x: hidden;
}

p{
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a:link {
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:visited{
	text-decoration: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,ul,ol,li{
	margin: 0;
	padding: 0;
}

ul, ol{
	list-style-type: none;
}

::selection{
	color: #fff;
	background-color: #ccc;
}

::-moz-selection{
	color: #fff;
	background-color: #ccc;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.row{
	position: relative;
	max-width: 970px;
	height: auto;
	margin: 0 auto;
}

footer{
	border-top: 200px solid #ff5a5f;
	border-bottom: 5px solid #ff5a5f;
	width: 100%;
	overflow: hidden;
}
footer img{
	width: 25%;
}
li {
	display: inline;
}
#social img{
	width: 50px;
	height: 50px;
}
.section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}


/* -----------------------------Media-----------------------------------*/
@media all and (max-width: 1000px){
	body {
		font-size: 30px;
	}
	.top-nav{
		position: relative;
	}
	.top-nav ul{
		list-style: none;
	}
	.top-nav ul li{
		text-align: center;
		margin-right: 50px;
		width: 90%;
		border-bottom: 2px solid #ff5a5f;
	}
	.row{
		padding: 0 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.section{
		float: left;
		width:100%;
		margin: 0;
	}
	.top-nav.active{
		display: none;
	}
	.slide.active{
		position:relative;
		height:50%;
	}
	#jumbotron-wrapper {
		position: relative;
		width: 100%;
		height: 50%;
	}
	#slides-wrapper {
		position: absolute;
		width: 100%;
		height: 50%;
	}
	.slide {
		height: 50%;
		display: none;
	}
	#jumbotron-arrow-wrapper{
	display: none;
	}
	.jumbotron-arrow{
	display: none;
	}
	.dot{
		display: none;
	}
	.dot.active{
		display: none;
	}
}

/* -----------------------------TOP-NAV--------------------------------- */
.top-nav {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	z-index: 200;
}
.top-nav.active{
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
}
.logo:link{
	position: relative;
	color: #ccc;
	display: inline-block;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	float: left;
}
.logo:visited{
	color: #484848;
}
.logo:hover{
	background-color: #f1f1f1;
}
.logo img{
	position: relative;
	padding: 10px 15px;
	width: 170px;
	vertical-align: middle;
}
.top-nav.active .logo img{
		border-right: 1px solid #eee;
}

/* -------------------------------NAV-SEARCH--------------------------------*/
#nav-searchbar{
	display:none;
	width: 490px;
	height: 100%;
}
.top-nav.active #nav-searchbar{
	display: inline-block;
}
#nav-searchbar form input{
	padding: 27px 10px 18px 52px;
	width: 100%;
	border: none;
	outline: none;
	color: #666;
	font-size: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url('image/search_icon.png');
	background-repeat: no-repeat;
	background-position: 25px 28px;
	background-size: 18px;
}
#nav-searchbar form input::-webkit-input-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input::-moz-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input:-ms-input-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input:-moz-placeholder{
	color: #aaa;
	font-size: 20px;
}
.top-nav ul{
	float: right;
	padding: 25px 0;
}
.top-nav ul li{
	display: inline-block;
	margin: 0 25px;
}
.top-nav ul li a:link{
	color: #484848;
	font-size: 14px;
}
.top-nav ul li a:visited{
	color: #484848;
}

/* ------------------------JUMBOTRON-SLIDER----------------------------- */
#jumbotron-wrapper {
	position: relative;
	width: 100%;
	height: 800px;
}
#jumbotron-arrow-wrapper{
	position: absolute;
	width: 100%;
	height: 48px;
	top: 50%;
	margin-top: -24px;
}
.jumbotron-arrow{
	z-index: 200;
	position: absolute;
	width: 48px;
	height: 48px;
	padding: 11px 11px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
	border-radius: 48px;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	top: 50%;
	margin-top:-40px;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	text-align: center;
}
.jumbotron-arrow:hover{
	background-color: rgba(0,0,0,0.8);
}
.jumbotron-arrow span{
	color:#ff5a5f;
	font-size: 22px;
}
#left-jumbotron{
	left: 20px;
}
#right-jumbotron{
	right: 20px;
}
#slides-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}
.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.slide.active{
	display: block;
}
.slide.active img{
	display:block;
	width: 100%;
	height: 100%;
}
#slides-dots {
	position: absolute;
	width: 48px;
	height: auto;
	left: 50%;
	margin-left: -24px;
	bottom: 20px;
}
.dot{
	position:relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #fff;
	margin-right: 5px;
}
.dot:last-of-type {
	margin-right: 0;
}
.dot.active {
	background-color: #ff5a5f;
}


/* ------------------------------MOTO---------------------------------- */
#moto{
	font-size: 48px;
	font-weight: 300;
	color: #484848;
	margin: 60px 0;
	letter-spacing: 1.8px;
}
#moto span {
	color: #FF5A5F;
	font-weight: 700;
}

/* ------------------------------MSG---------------------------------- 
#msg{
	font-size: 48px;
	font-weight: 300;
	color: #484848;
	margin: 60px 0;
	letter-spacing: 1.8px;
}
#msg span {
	color: #FF5A5F;
	font-weight: 700;
}

*/

.set pre{
  font-size:30px;
  background:red;
}

/* ----------------------------Search Bar------------------------------ */
#searchbar-wrapper{
	position: relative;
	width: 100%;
	height:auto;
	margin-bottom: 30px;
}
#searchbar {
	position: relative;
	width: 100%;
	height:auto;
}
#searchbar input{
	font-size: 19px;
	outline: none;
}
#searchbar input::placeholder{
	color: #777;
}
#searchbar input::-webkit-input-placeholder{
	color: #777;
}
#searchbar input::-moz-placeholder{
	color: #777;
}
#searchbar input:-moz-placeholder{
	color: #777;
}
#searchbar input:-ms-input-placeholder{
	color: #777;
}
#searchbar input[type="text"]{
	padding:19px 15px;
	width: 738px;
	display: inline-block;
	border:1px solid #ccc;
	border-right:none;
	transition:all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
}
#searchbar input[type="text"]:focus{
	padding: 19px 15px 17px;
	border-bottom: 2px solid #ff6a6f;
}
#searchbar input[type="submit"]{
	width:200px;
	display: inline-block;
	padding: 20px 0;
	border: none;
	color: #fff;
	background-color: #FF5A5F;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
}
#searchbar input[type="submit"]:hover{
	background-color: #ff9299;
}


/* -------------------------------Display Slider----------------------------*/
#display-slider-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.ds-title{
	font-size: 48px;
	font-weight: 700;
	color: #ff5a5f;
	margin-top: 200px;
	margin-bottom: 30px;
}
.display-slider{
	position: relative;
	width: 100%;
	height: auto;
}
.ds-div {
	position: relative;
	display: inline-block;
	width: calc(25% - 11.25px);
	width: -webkit-calc(25% - 11.25px);
	width: -moz-calc(25% - 11.25px);
	height: 200px;
	background-color: #333;
	margin-right: 15px;
	text-align: center;
}
.ds-div:last-of-type{
	margin-right: 0;
}
.ds-div p{
	color: #fff;
	font-size: 26px;
	margin-top: 30px;
}
