/*
* Junghoo Kim
* Emmanuel Oluloto
* CS 284
*
*
*/
/* /css/main.css */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:#484848;
	overflow-x: hidden;
}

p{
	font-size: 16px;
	margin: 0;
	padding: 0;
}



a {
    color: hotpink;
}

a:link {
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:visited{
	text-decoration: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,ul,ol,li{
	margin: 0;
	padding: 0;
}

ul, ol{
	list-style-type: none;
}

::selection{
	color: #fff;
	background-color: #ccc;
}

::-moz-selection{
	color: #fff;
	background-color: #ccc;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.row{
	position: relative;
	max-width: 970px;
	height: auto;
	margin: 0 auto;
}

footer{
	border-top: 200px solid #ff5a5f;
	border-bottom: 5px solid #ff5a5f;
	width: 100%;
	overflow: hidden;
}
footer img{
	width: 25%;
}
li {
	display: inline;
}
#social img{
	width: 50px;
	height: 50px;
}
.section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}


/* -----------------------------Media-----------------------------------*/
@media all and (max-width: 1000px){
	body {
		font-size: 30px;
	}
	.top-nav ul{
		list-style: none;
	}
	.top-nav ul li{
		text-align: center;
		margin-right: 50px;
		width: 90%;
		border-bottom: 2px solid #ff5a5f;
	}
	.row{
		padding: 0 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.section{
		float: left;
		width:100%;
		margin: 0;
	}
}

/* -----------------------------TOP-NAV--------------------------------- */
.top-nav {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	z-index: 200;
}
.top-nav.active{
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.1);
}
.logo:link{
	position: relative;
	color: #ccc;
	display: inline-block;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	float: left;
}
.logo:visited{
	color: #484848;
}
.logo:hover{
	background-color: #f1f1f1;
}
.logo img{
	position: relative;
	padding: 10px 15px;
	width: 170px;
	vertical-align: middle;
}
.top-nav.active .logo img{
		border-right: 1px solid #eee;
}

/* -------------------------------NAV-SEARCH--------------------------------*/
#nav-searchbar{
	display:none;
	width: 490px;
	height: 100%;
}
.top-nav.active #nav-searchbar{
	display: inline-block;
}
#nav-searchbar form input{
	padding: 27px 10px 18px 52px;
	width: 100%;
	border: none;
	outline: none;
	color: #666;
	font-size: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url('image/search_icon.png');
	background-repeat: no-repeat;
	background-position: 25px 28px;
	background-size: 18px;
}
#nav-searchbar form input::-webkit-input-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input::-moz-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input:-ms-input-placeholder{
	color: #aaa;
	font-size: 20px;
}
#nav-searchbar form input:-moz-placeholder{
	color: #aaa;
	font-size: 20px;
}
.top-nav ul{
	float: right;
	padding: 25px 0;
}
.top-nav ul li{
	display: inline-block;
	margin: 0 25px;
}
.top-nav ul li a:link{
	color: #484848;
	font-size: 14px;
}
.top-nav ul li a:visited{
	color: #484848;
}

/* ------------------------------MOTO---------------------------------- */
#moto{
	font-size: 48px;
	font-weight: 300;
	color: #484848;
	margin: 60px 0;
	letter-spacing: 1.8px;
}
#moto span {
	color: #FF5A5F;
	font-weight: 700;
}

li > span{
  color:red;
  font-size: 48px;
}

/* ---------------------------Button----------------------------------- */
input[type="submit"]{
	width:200px;
	display: inline-block;
	padding: 20px 0;
	border: none;
	color: #fff;
	background-color: #FF5A5F;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
  margin-left: 10%;
}
input[type="submit"]:hover{
	background-color: #ff9299;
}
